#style1{
	color: black !important; 
}

#sicion{
	color: black !important;
}
.center_txt{
	text-align: center !important;
	color: black;
}
.negritas{
	margin-top: 3px;
	font-weight: bold !important;
	color: white;
}

.negritas2{
	font-weight: bold !important;
	color: black;
	padding-bottom: 5px;
	padding-top: 10px;
	text-align: center;
}

.mano{
	cursor: pointer;
}

.left{

}
.right{

}
.top{

}
.bottom{

}
.blanco{
	color: white !important;
}
#clock{
	text-align: center;
	font-size: 4vw !important;
}

#txt{
	text-align: center;
	font-size: 100px !important;
}
#font1{
	text-align: center;
	font-size: 3vw !important;
}
